body {
	background: #9ce8e5;
	font-size: 15px;
	font-family: "ו";
	margin: 1px;
	color: f07b1c;
	
}

A:link {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A:active {
	COLOR: #004779; TEXT-DECORATION: none
}
A:hover {
	COLOR: red; TEXT-DECORATION: underLine;
}

img.Icon {
	margin-bottom: -4px;
}

#MenuUl, ul.MenuLevel1{
	list-style:none;
	margin: 0px;
	padding: 0px;
}

ul.MenuLevel2 {
	list-style:none;
	margin: 0px;
	padding: 0px;
}

#Menu {
	padding: 0px;
	float: left;
	width: 100%;
	margin: 0px;
}

.level1 {
	font-weight: bold;
	padding-bottom: 1px;
}

.level2 {
	font-weight: normal;
}


.level1Style {
	width: 130px;
	height: 24px;
	padding-left: 20px;
	padding-top: 4px;
	cursor: hand;
}

.level2Style {
	width: 100%;
	height: 20px;
	background: #1cf0ed;
	padding-left: 30px;
	padding-top: 4px;
	border-top: 1px solid #eff6fb;
	cursor: hand;
}

